<div class="container">
    <div class="reset-password-container">
      <h2>Reset Your Password</h2>
      <p class="instruction">Enter a new password and confirm it to reset your account password.</p>
  
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        
        <!-- New Password -->
        <div class="input-group">
          <input type="password" formControlName="password" required>
          <label>New Password</label>
          <span *ngIf="submitted && f['password'].errors" class="error">
            <span *ngIf="f['password'].errors?.['required']">Password is required.</span>
            <span *ngIf="f['password'].errors?.['minlength']">Password must be at least 6 characters.</span>
            <span *ngIf="f['password'].errors?.['pattern']">Must include letters, numbers & special chars.</span>
          </span>
        </div>
  
        <!-- Confirm Password -->
        <div class="input-group">
          <input type="password" formControlName="confirmPassword" required>
          <label>Confirm Password</label>
          <span *ngIf="submitted && resetPasswordForm.errors?.['mismatch']" class="error">
            Passwords do not match.
          </span>
        </div>
  
        <!-- Submit Button -->
        <button type="submit">Reset Password</button>
      </form>
  
      <p *ngIf="successMessage" class="success">
        {{ successMessage }}
      </p>
    </div>
  </div>
  