<div class="modal-container">
    <div class="modal-content">
      <!-- Success Icon -->
       <div class="message-icon">
      <div class="modal-icon">
        <mat-icon class="success-icon">check_circle</mat-icon>
      </div>
      
      <!-- Success Title -->
      <div class="modal-title">SUCCESS</div>
    </div>
      <!-- Success Message -->
      <div class="modal-message">
        Congratulations, your account has been successfully created.
      </div>
      
      <!-- Continue Button -->
      <button mat-raised-button (click)="onClose()">Continue</button>
    </div>
  </div>
  