<div class="container">
    <div class="login-container">
      <h2>Welcome Back</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <!-- Email -->
        <div class="input-group">
          <input type="email" formControlName="email" required>
          <label>Email</label>
          <span *ngIf="submitted && f['email'].errors" class="error">
            <span *ngIf="f['email'].errors?.['required']">Email is required.</span>
            <span *ngIf="f['email'].errors?.['email']">Invalid email format.</span>
          </span>
        </div>
  
        <!-- Password -->
        <div class="input-group">
          <input type="password" formControlName="password" required>
          <label>Password</label>
          <span *ngIf="submitted && f['password'].errors" class="error">
            <span *ngIf="f['password'].errors?.['required']">Password is required.</span>
          </span>
        </div>
  
        <!-- Forgot Password Link -->
        <div class="forgot-password-container">
          <a routerLink="/forgotPassword"class="forgot-password">Forgot Password?</a>
        </div>
  
        <!-- Login Button -->
        <button type="submit">Login</button>
      </form>
  
      <p *ngIf="successMessage" class="success">
        {{ successMessage }}
      </p>
  
      <p class="register-text">
        Don't have an account? <a routerLink="/userRegister">Sign Up</a>
      </p>
    </div>
  </div>
  