<div class="container">
  <div class="signup-container">
    <h2>Create an Account</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      
      <!-- Email -->
      <div class="input-group">
        <input type="email" formControlName="email" required>
        <label>Email</label>
        <span *ngIf="submitted && f['email'].errors" class="error">
          <span *ngIf="f['email'].errors?.['required']">Email is required.</span>
          <span *ngIf="f['email'].errors?.['email']">Invalid email format.</span>
        </span>
      </div>

      <!-- Phone Number -->
      <div class="input-group">
        <input type="text" formControlName="phoneNumber" required>
        <label>Phone Number</label>
        <span *ngIf="submitted && f['phoneNumber'].errors" class="error">
          <span *ngIf="f['phoneNumber'].errors?.['required']">Phone number is required.</span>
          <span *ngIf="f['phoneNumber'].errors?.['pattern']">Invalid phone number.</span>
        </span>
      </div>

      <!-- name -->
      <div class="input-group">
        <input type="text" formControlName="name" required>
        <label>UserName</label>
        <span *ngIf="submitted && f['name'].errors" class="error">
          <span *ngIf="f['name'].errors?.['required']">name is required.</span>
          <span *ngIf="f['name'].errors?.['minlength']">Must be at least 3 characters.</span>
        </span>
      </div>

      <!-- Password -->
      <div class="input-group">
        <input type="password" formControlName="password" required>
        <label>Password</label>
        <span *ngIf="submitted && f['password'].errors" class="error">
          <span *ngIf="f['password'].errors?.['required']">Password is required.</span>
          <span *ngIf="f['password'].errors?.['minlength']">Must be at least 6 characters.</span>
        </span>
      </div>

      <!-- Confirm Password -->
      <div class="input-group">
        <input type="password" formControlName="confirmPassword" required>
        <label>Confirm Password</label>
        <span *ngIf="submitted && signupForm.errors?.['mismatch']" class="error">
          Passwords do not match.
        </span>
      </div>

      <!-- Submit Button -->
      <button type="submit">Sign Up</button>
    </form>

    <!-- <p *ngIf="successMessage" class="success">
      {{ successMessage }}
    </p> -->
  </div>
</div>