
<app-home></app-home>
<div class="review-header">
    <div nz-row>
        <div nz-col nzSpan="12">
            <article class="content" nz-typography>
                <h1 class="review-title">Your Voice Matters: Community Reviews of J2Dtech</h1>
                <p nz-typography>
                    We’ve gathered authentic feedback from real users to give you a clear picture of what  ̰J2Dtech has
                    to offer. Find out what works, what doesn’t, and why learners keep coming back.
                </p>
            </article>
        </div>
        <div nz-col nzSpan="12" class="image-container">
            <img src="/images/img6.png"/>
        </div>
    </div>
</div>
<nz-card>
    <div nz-card-grid>
        <div class="review-avatar-wrapper">
            <nz-avatar nzSrc="/images/img4.jpg" class="review-avatar"></nz-avatar>
        </div>
        <p class="review-name">Sagar Chidre</p>
        <p class="review-text">
            One of the best photographers I’ve ever worked with! She did her job excellently, helping us to pose and
            gave advice
            all the time. Very friendly atmosphere, so we felt more comfortable and relaxed during the photo session.
            And the
            most important - I’m in love with the result! She catches all feelings on the pics, my opinion - that’s the
            most
            professional mark!
        </p>
        <button nz-button nzType="primary">
            View Story
            <nz-icon nzType="right" />
        </button>
    </div>
    <div nz-card-grid>
        <div class="review-avatar-wrapper">
            <nz-avatar nzSrc="/images/img4.jpg" class="review-avatar"></nz-avatar>
        </div>
        <p class="review-name">Sagar Chidre</p>
        <p class="review-text">
            One of the best photographers I’ve ever worked with! She did her job excellently, helping us to pose and
            gave advice
            all the time. Very friendly atmosphere, so we felt more comfortable and relaxed during the photo session.
            And the
            most important - I’m in love with the result! She catches all feelings on the pics, my opinion - that’s the
            most
            professional mark!
        </p>
        <button nz-button nzType="primary">
            View Story
            <nz-icon nzType="right" />
        </button>
    </div>
    <div nz-card-grid>
        <div class="review-avatar-wrapper">
            <nz-avatar nzSrc="/images/img4.jpg" class="review-avatar"></nz-avatar>
        </div>
        <p class="review-name">Sagar Chidre</p>
        <p class="review-text">
            One of the best photographers I’ve ever worked with! She did her job excellently, helping us to pose and
            gave advice
            all the time. Very friendly atmosphere, so we felt more comfortable and relaxed during the photo session.
            And the
            most important - I’m in love with the result! She catches all feelings on the pics, my opinion - that’s the
            most
            professional mark!
        </p>
        <button nz-button nzType="primary">
            View Story
            <nz-icon nzType="right" />
        </button>
    </div>
    <div nz-card-grid>
        <div class="review-avatar-wrapper">
            <nz-avatar nzSrc="/images/img4.jpg" class="review-avatar"></nz-avatar>
        </div>
        <p class="review-name">Sagar Chidre</p>
        <p class="review-text">
            One of the best photographers I’ve ever worked with! She did her job excellently, helping us to pose and
            gave advice
            all the time. Very friendly atmosphere, so we felt more comfortable and relaxed during the photo session.
            And the
            most important - I’m in love with the result! She catches all feelings on the pics, my opinion - that’s the
            most
            professional mark!
        </p>
        <button nz-button nzType="primary">
            View Story
            <nz-icon nzType="right" />
        </button>
    </div>
    <div nz-card-grid>
        <div class="review-avatar-wrapper">
            <nz-avatar nzSrc="/images/img4.jpg" class="review-avatar"></nz-avatar>
        </div>
        <p class="review-name">Sagar Chidre</p>
        <p class="review-text">
            One of the best photographers I’ve ever worked with! She did her job excellently, helping us to pose and
            gave advice
            all the time. Very friendly atmosphere, so we felt more comfortable and relaxed during the photo session.
            And the
            most important - I’m in love with the result! She catches all feelings on the pics, my opinion - that’s the
            most
            professional mark!
        </p>
        <button nz-button nzType="primary">
            View Story
            <nz-icon nzType="right" />
        </button>
    </div>
    <div nz-card-grid>
        <div class="review-avatar-wrapper">
            <nz-avatar nzSrc="/images/img4.jpg" class="review-avatar"></nz-avatar>
        </div>
        <p class="review-name">Sagar Chidre</p>
        <p class="review-text">
            One of the best photographers I’ve ever worked with! She did her job excellently, helping us to pose and
            gave advice
            all the time. Very friendly atmosphere, so we felt more comfortable and relaxed during the photo session.
            And the
            most important - I’m in love with the result! She catches all feelings on the pics, my opinion - that’s the
            most
            professional mark!
        </p>
        <button nz-button nzType="primary">
            View Story
            <nz-icon nzType="right" />
        </button>
    </div>
</nz-card>