<div class="review-container">
  <h2 class="text-center">What Our Users Say</h2>

  <ngx-slick-carousel class="slider" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let review of reviews" class="slide">
      <div class="review-card">
        <div class="user-info">
          <img [src]="review.image" alt="User Image" class="user-image">
          <div>
            <h4>{{ review.user }}</h4>
            <p class="position">{{ review.position }}</p>
          </div>
        </div>
        <p class="review-text">"{{ review.review }}"</p>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
