.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f9fc;
  }
  
  .forgot-password-card {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
  }
  
  .forgot-password-card h2 {
    font-weight: bold;
    /* margin-bottom: 5px; */
  }
  
  .forgot-password-card p {
    color: #6b7280;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .forgot-password-card input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .forgot-password-card button {
    width: 320px;
    padding: 12px 0;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .forgot-password-card a {
    color: #4f46e5;
    text-decoration: none;
  }

  .change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f9fc;
  }
  
  .change-password-card {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
  }
  
  .change-password-card h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .change-password-card p {
    color: #6b7280;
    margin-bottom: 30px;
  }
  
  .change-password-card input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .change-password-card button {
    width: 100%;
    padding: 12px 0;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  