<div class="container">
  <div class="forgot-password-container">
    <h2>Reset Your Password</h2>
    <p class="instruction">Enter your email address to receive OTP.</p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      
      <!-- Email -->
      <div class="input-group">
        <input type="email" formControlName="email" required>
        <label>Email</label>
        <span *ngIf="submitted && f['email'].errors" class="error">
          <span *ngIf="f['email'].errors?.['required']">Email is required.</span>
          <span *ngIf="f['email'].errors?.['email']">Invalid email format.</span>
        </span>
      </div>

      <!-- Submit Button -->
      <button type="submit">Send OTP</button>
    </form>

    <p *ngIf="successMessage" class="success">
      {{ successMessage }}
    </p>

    <p class="back-to-login">
      Remembered your password? <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
